.page {
    background: #ccc;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    
    &__paragraph {
        font-family: arial;
        color: red;
        margin: 0;
        padding: 0;
    }
    &__image {
        height: 500px;
        &--dog {
            background: url("./../public/images/neko.png") no-repeat;
        }
    }
}